<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}" />
      <title>
          {% block title %}
          {% endblock %}
      </title>
   </head>
   <body>
    <header id="header" class="top">
    <nav class="navbar navbar-expand-md navbar-dar bg-dark">
        <a class="navbar-brand" href="{{url_for('main')}}"> Automate Valuation Model </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="https://github.com/PBenavides/House_pricing_Lima"> GitHub Repo </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('predict')}}">Valuate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://pbenavides.github.io/post/chapter-1/"> Article</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class = "nav-item">
                    <a class = "nav-link" href="{{url_for('contact')}}"> Contact </a>
                </li>
            </ul>
        
        </div>
    </header>
    </nav>

    <body class = "text-left">
        {% block content %}

        {% endblock %}

   </body>
   <style>
   </style>
</html>