{% extends 'base.html' %}
{% block title %}
Contact
{% endblock %}
{% block content %}
<div>
    <table style="border:1px solid black">
        <tr>
          <th>GitHub</th>
          <th>LinkedIn</th>
          <th>Email</th>
          <th>Portfolio</th> 
        </tr>
        <tr>
          <td>https://github.com/PBenavides</td>
          <td>https://www.linkedin.com/in/pablo-benavides-/</td>
          <td>pablo.benavidesurbano@gmail.com</td>
          <td>link-portfolio</td>
        </tr>
      </table>
    </div>

{% endblock %}