{% extends 'base.html' %}
{% block title %}
Contact
{% endblock %}
{% block content %}

<div class="container">
  <div class="table-container">
    <div class="container-img">
      <img class="table-img" src="{{url_for('static', filename='imgs/contact.jpg')}}"/>
    </div>
      <div class="table-class">
          <div class="inside-table">
            <a href="https://github.com/PBenavides" class="btn-link">GitHub</a><br>
            <a href="https://github.com/PBenavides" class="btn-link">Linkedin</a>
            <p href="https://github.com/PBenavides" class="btn-link">pablo.benavidesurbano@gmail.com</p>
            <a href="https://github.com/PBenavides" class="btn-link">Portfolio</a> 
          </div>
      </div>
  </div>
</div>
{% endblock %}