{% extends 'base.html' %}

{% block title %}
Valuation Page
{% endblock %}

{% block content %}
<div class="container">
    <div class = "1bb-section-alignful container-full">
        <div>
            <h1 class = "text-center" style="font-weight: bold">
            Valuation Form Request
            </h1>
            <div class = "form-container">
                <form class="form-obj" action = "{{url_for('predict')}}" method="POST"  > <!-- El color es el de la letra-->
                    {{form.csrf_token}}
                            
                    {{ form.Barrio.label()}}
                    {{ form.Barrio(class = "form-control")}}

                    {{ form.Ciudad.label()}}
                    {{ form.Ciudad(class = "form-control")}}

                    {{ form.Area_total.label()}}
                    {{ form.Area_total(class = "form-control", placeholder="Area Totality")}}

                    {{ form.Area_constr.label()}}
                    {{ form.Area_constr(class = "form-control", placeholder="Constructed Area")}}

                    {{ form.NroBanios.label()}}
                    {{ form.NroBanios(class = "form-control")}}

                    {{ form.Dormitorios.label()}}
                    {{ form.Dormitorios(class = "form-control")}}

                    {{ form.Antiguedad.label()}}
                    {{ form.Antiguedad(class = "form-control")}}

                    {{ form.Cocheras.label()}}
                    {{ form.Cocheras(class = "form-control")}}

                    {{ form.Latitud.label()}}
                    {{ form.Latitud(class = "form-control", placeholder="Insert latitude")}}

                    {{ form.Longitud.label()}}
                    {{ form.Longitud(class = "form-control", placeholder="Insert latitude")}}
                    
                    <div id="button-container">
                        {{ form.submit()}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>    

{% endblock %}